*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.w-30{
    width: 30%;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.py-2{
    padding-top: 2%;
    padding-bottom: 2%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav .active{
    color: black;
    font-weight: 800;
}
.text-dark{ color: black;}
.text-light{ color: #2F2E2E;}
#hero{
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    padding: 10% 0 ;
    background-position: right;
    background-size: 80%;
}

#hero div{
    background-color: rgba(255, 255, 255, 0.751);
    padding: 5%;
}
nav ul{
    width: 50%
}
.just-between{
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 31%;
    height: 15rem;
    background-color: blue;
    margin: 3% 0;
}