*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .w-30{
    width:30%;
}

div{
    background-color: red;
    padding: 2%;
    color: aliceblue;
    /* height: 200px; */
    /*margin: 1% calc(9%/6);
    display: inline-block;
    vertical-align: middle;
} */
.container-fluid{
    width: 100%;
    overflow: hidden;
}
.container{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
.p-2{ padding: 2%;}
.w-25{ width: 25%;}
.w-50{ width: 45%;}
.d-inline-block{ display: inline-block; vertical-align: middle;}
.logo{ width: 2rem; height: 1.5rem;}
.text-center{ text-align: center;}
ul{
    list-style-position: inside;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black
}
.nav-link:hover{
    text-decoration: underline;
}
.nav-item{
    width:24%;
    /* margin: 0 3%; */
}

.test img{
    /* display: none; */
}
.test:hover img{
    display: inline;
}
body{
    height: 3000px;
}
.x{
    height: 15rem;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    position: sticky;
    background-color: blueviolet;
    top:0px
}

.rel{
    position: relative;
    height: 15rem;
    aspect-ratio: 1/1;
    background: red;
    /* top:100px */
}

.abs{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    /* top: 10%;
    left:10% */
    bottom: 0;
    right: 0
}