*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

#large{
    width: 40%;
    box-shadow: 0 0 3px gray;
}
#other{
    width: 60%;
    background-color: blueviolet;
}

.card{
    width:30%;
    height: 50%;
    background-color: red;
}

.search{
    width:50%;
    margin: 5% auto;
    border: 1px solid black;
    border-radius: 25px;
}

.search input{
    width: 70%;
    border: none;
    outline: none;
}
.search i{
    width: 5%;
    padding: 2%;
}
.search button{
    width: 25%;
    padding: 2%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 25px;
}