/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* direction: rtl; */
 }
 /* :root{
    --maincolor: #ff6644;
 }
 .main-color{
    color: #ff6644;
 }
 .main-bg{
    background-color: #ff6644;
 }

 body{
    background-color: var(--maincolor);
 }
 div{
    height: 100vh;
    width: 100%;
    background-color: brown;
 } */
  /* p{ */
    /* left right center justify */
    /* text-align: justify; */
    /* text-indent:50px;
    letter-spacing: 1px; */
    /* 16px; */
    /* font-size: 1.1rem; */
    /* line-height: 1.4; */
    /* font-variant: small-caps; */
    /* font-variant: normal; */
    /* capitalize uppercase*/
    /* text-transform: lowercase; */
    /* nowrap pre-line pre*/
    /* white-space: normal; */

/*     
  }

  .text-center{ text-align: center;}
  .text-blue{ color: navy;}

  h1{ */
    /* text-shadow: 0px 0px 3px red; */
/* 100px 10rem 10%  */
    /* width: fit-content;
    margin: 5% auto;
    height: fit-content;
    border: 3px solid green;
    outline: 5px solid red;
    padding: 3% 5%;
}

h1:hover{
    box-shadow: 0px 0px 5px gray;
  }

input{
    width: 70%;
    border: none
}

input:focus{
    border: none;
    outline:none;
} */